/node_modules
/public/hot
/public/storage
/public/xml_files
/public/lands_original.json
/public/lands.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
